* {
  box-sizing: border-box;
}

#board {
  position: relative;
  width: 400px;
  height: 400px;
  border: 2px solid red;
  border-radius: 5px;
  margin: 0 auto;
  padding: 5px;

}

.parent {
  position: relative;
  height: 185px;
  width: 185px;
  border: 2px solid blue;
  float: left;
  margin-left: 5px;
  margin-top: 5px;

}

.square {
  position: relative;

  margin: 5px auto;
  height: 170px;
  width: 170px;
  border: 1px solid black;



}
